.main{
position: relative;
min-width:100%;
min-height: 100%;
display:flex;
// justify-content: center;
align-items: center;
flex-direction: row;

.right{
position: relative;
left: 500px;

}}

.paragraph {
    text-align: right;
    color:blue;
}